In [ ]:
# install boto3

In [ ]:
pip install boto3

In [ ]:
pip install clickhouse-driver[numpy]

In [ ]:
pip install clickhouse-driver

In [ ]:
import boto3
from io import StringIO
import pandas as pd
import numpy as np
import os
from clickhouse_driver import Client as ClickClient
import datetime

In [ ]:
os.environ["AWS_ACCESS_KEY_ID"] = "AKIAUYMIUKYSLYI6NCKV"
os.environ["AWS_SECRET_ACCESS_KEY"] = "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"

In [ ]:
def read_file(Bucket,Key):
    print("in 'read_file' procedure")
    response3 = boto3.client('s3').get_object(Bucket=Bucket, Key=Key)
    print("response done")
    df = pd.read_csv(io.BytesIO(response3['Body'].read()))
    print("pd.read_csv done")
    year = int(df['started_at'][1][:4])
    print(year)
    month = int(df['started_at'][1][5:7])
    print(month)
    print(f"out 'read_file' procedure. Return df, year: {year}, month: {month}")    
    return (df, year, month)

In [ ]:
response3 = boto3.client('s3').get_object(Bucket=Bucket, Key=Key)
df = pd.read_csv(io.BytesIO(response3['Body'].read()))

In [ ]:
def validate_dataframe(Dataframe):
    print("in 'validate_dataframe' procedure")
    if 'gender' in df.columns: 
        print("Dataframe contains 'gender' comlumn. No need to update")
    else:
        print("Dataframe doesn't contain 'gender' comlumn. Adding 'gender' column with value: 0")
        Dataframe['gender'] = 0
    print("out 'validate_dataframe' procedure. Return DataFrame")
    return Dataframe

In [ ]:
#Not yet finished
def write_file(DataFrame,Bucket,Key):
    print("in 'write_file' procedure")
    DataFrame = df_time_rides
    s3_client = boto3.client('s3')
    csv_buf = StringIO()
    DataFrame.to_csv(csv_buf, header=True, index=False)
    response = s3_client.put_object(Bucket='netology-output', Body=csv_buf.getvalue(), Key=Key)
    status = response.get("ResponseMetadata", {}).get("HTTPStatusCode")
    if status == 200:
        print(f"Successful write file: {Key} into S3 {Bucket}. Status - {status}")
        print("out 'write_file' procedure")
    else:
        print(f"Errorwrite file: {Key} into S3 {Bucket}. Status - {status}")
        print("out 'write_file' procedure")
    return

In [ ]:
def ec2_management(method='status'):
    ec2 = boto3.resource('ec2',region_name='us-east-2')
    instance = ec2.Instance('i-0fddf225d64030af4')
    if method =='getpip':
        return instance.public_ip_address
    elif method=='stop':
        instance.stop()
#        print(instance.state)
        return instance.state
    elif method=='start':
        instance.start()
#        print(instance.state)
        return instance.state
    else:
#        print(instance.state)
        return instance.state

In [ ]:
def insert_df_to_CH(DataFrame, Database, Table, IP):
    print("in 'insert_df_to_CH' procedure")
    client = ClickClient(host=IP, settings={'use_numpy': True})
    try: 
        client.insert_dataframe("INSERT INTO " + Database + "." + Table + " VALUES", DataFrame)
        print("Data insert successful")
        print("out 'insert_df_to_CH' procedure")
    except:
        print(f"Data insert Error into {Database}.{Table} table")
        print("out 'insert_df_to_CH' procedure")
    return

In [ ]:
def sql_request(query,IP):
    print("in 'sql_request' procedure")
    client = ClickClient(host=IP, settings={'use_numpy': True})
    output_df = pd.DataFrame.from_records(client.execute(query))
    print("out 'sql_request' procedure. Return DataFrame, which will be stored as file.csv")
    return output_df

In [ ]:
def setup_db(IP, Database, Table, method):
    client = ClickClient(host=IP, settings={'use_numpy': True})
    if method == 'setup_db':
        try: 
            client.execute(f"CREATE DATABASE IF NOT EXISTS {Database}")          
#            print("The database netology is created")
            client.execute("CREATE TABLE IF NOT EXISTS netology.rides("
            "ride_id String, rideable_type String, started_at DateTime, ended_at DateTime,"
            "start_station_name String, start_station_id String, end_station_name String,"
            "end_station_id String, start_lat Float32, start_lng Float32, end_lat Float32, end_lng Float32, member_casual String) ENGINE = MergeTree() ORDER BY started_at")
#            print("The table {Table} is created")    
            return
        except:
            print("Error of creating DB {Database}")
            return
    elif method == 'drop_table':
        try: 
            client.execute("DROP TABLE IF EXISTS netology.rides")
            print("The table netology.rides removed")
            return 
        except:
            print("Error of Drop Table netology.rides")
            return        
    elif method == 'create_table': 
        try: 
            client.execute("CREATE TABLE IF NOT EXISTS netology.rides("
            "ride_id String, rideable_type String, started_at DateTime, ended_at DateTime,"
            "start_station_name String, start_station_id String, end_station_name String,"
            "end_station_id String, start_lat Float32, start_lng Float32, end_lat Float32, end_lng Float32, member_casual String) ENGINE = MergeTree() ORDER BY started_at")
            print("The Table netology.rides is created")
            return
        except:
            print("Error creating Table netology.rides")
            return
    elif method == 'status':
        try: 
            print(client.execute("SHOW DATABASES"))
            client.execute("USE netology")
            print(client.execute("SHOW TABLES"))
            return
        except: 
            print("Error to show databases and tables")
            return
    else:
        print("Not correct activity specified")
        return

### Setup the environment: 
- __start the EC2 instance which is runnig the Airlow and ClickHouse__
- __setup the database (create the netology db and create rides table to store information from csv files)__

In [ ]:
ec2_management(method='start')

In [ ]:
ec2_management(method='status')['Name']

In [81]:
public_ip = ec2_management(method='getpip')
print(f"Public IP: {public_ip}")

Public IP: 18.117.115.131

In [ ]:
setup_db(public_ip, 'status')

In [ ]:
ec2_management('stop')

In [ ]:
if ec2_management(activity='status')['Name'] == 'stopped':
    ec2_management(activity='start')
    print("starting the EC2 instance")
elif ec2_management(activity='status')['Name'] == 'running':
    public_ip = ec2_management(activity='getpip')
    print(f"Public IP: {public_ip}")
    setup_db(public_ip, 'create_db')
    setup_db(public_ip, 'create_table')
    setup_db(public_ip, 'status')

# Program: 
 - __load csv file to dataframe from S3 netology_input Bucket__
 - __get the YYYY-MM of rides in csv file__
 - __load the data to the Database__
 - __SQL quary Number of Rides/day__
 - __Store the result into DataFrame__
 - __Write DataFrame into "Number_Riders_per_Day_Date.CSV" file into S3 netology_output Bucket__
 - __SQL quary Average time of Rides/day__
 - __Store the result into DataFrame__
 - __Write DataFrame into "Average_Ride_Time_per_Day_Date.CSV" file into S3 netology_output Bucket__
 - __SQL quary Rides/gender/day__
 - __Store the result into DataFrame__
 - __Write DataFrame into "Ride_per_gender_per_Day_Date.CSV" file into S3 netology_output Bucket__

In [ ]:
ec2_management(activity='stop')

In [82]:
client = ClickClient(host=public_ip, settings={'use_numpy': True})
client.execute("SHOW DATABASES")[1][0]
client.execute("SHOW TABLES")
client.execute("DROP TABLE netology.rides")
client.execute("CREATE TABLE IF NOT EXISTS netology.rides("
            "ride_id String, rideable_type String, started_at DateTime, ended_at DateTime,"
            "start_station_name String, start_station_id String, end_station_name String,"
            "end_station_id String, start_lat Float32, start_lng Float32, end_lat Float32, end_lng Float32, member_casual String, gender UInt8) ENGINE = MergeTree() ORDER BY started_at")

[]

In [85]:
Bucket_in = "netology-input"
Bucket_out = "netology-output"
Key = "JC-202203-citibike-tripdata.csv"
Database = "netology"
Table = "rides"
df, year, month = read_file(Bucket_in,Key)
print(year)
print(month)
validate_dataframe(df)
insert_df_to_CH(df, Database, Table, public_ip)

df_number_rides = sql_request(f"select toYYYYMMDD(started_at) AS date, count(ride_id) FROM netology.rides where toYear(started_at) = {year} AND toMonth(started_at) = {month} GROUP BY date",public_ip)
df_number_rides = df_number_rides.rename(columns={0: 'Date', 1: 'Total_Number_of_Rides'})
path = (f"{year}_{month}_report_number_of_rides.csv")
write_file(df_number_rides,Bucket_out,path)

df_time_rides = sql_request(f"select toYYYYMMDD(started_at) AS day, round(sum(dateDiff('second', started_at, ended_at))/count(ride_id),0) from netology.rides where toYear(started_at) = {year} AND toMonth(started_at) = {month} GROUP BY date",public_ip)
df_time_rides = df_time_rides.rename(columns={0: 'Date', 1: 'Average_Ride_Time'})
path = (f"{year}_{month}_report_average_ride_time.csv")
write_file(df_time_rides,Bucket_out,path)

df_rides_gender = sql_request(f"select toYYYYMMDD(started_at) AS day, gender, count(ride_id) FROM netology.rides where toYear(started_at) = {year} AND toMonth(started_at) = {month} GROUP BY date, gender, ORDER BY date, gender",public_ip)
df_rides_gender = df_.rename(columns={0: 'Date', 1: 'gender', 2: 'Totel Rides'})
path = (f"{year}_{month}_report_rides_gender.csv")
write_file(df_rides_gender,Bucket_out,path)

in 'read_file' procedure
response done
pd.read_csv done
2022
3
out 'read_file' procedure. Return df, year: 2022, month: 3
2022
3
in 'validate_dataframe' procedure
Dataframe doesn't contain 'gender' comlumn. Adding 'gender' column with value: 0
out 'validate_dataframe' procedure. Return DataFrame
in 'insert_df_to_CH' procedure
Data insert successful
out 'insert_df_to_CH' procedure
in 'sql_request' procedure
out 'sql_request' procedure. Return DataFrame, which will be stored as file.csv
in 'write_file' procedure
Successful write file: 2022_3_report_number_of_rides.csv into S3 netology-output. Status - 200
out 'write_file' procedure
in 'sql_request' procedure
out 'sql_request' procedure. Return DataFrame, which will be stored as file.csv
in 'write_file' procedure
Successful write file: 2022_3_report_average_ride_time.csv into S3 netology-output. Status - 200
out 'write_file' procedure
in 'sql_request' procedure
out 'sql_request' procedure. Return DataFrame, which will be stored as file.csv
in 'write_file' procedure
Successful write file: 2022_3_report_rides_gender.csv into S3 netology-output. Status - 200
out 'write_file' procedure

In [83]:
df_rides_gender = sql_request(f"select toDayOfMonth(started_at) AS day, gender, count(ride_id) FROM netology.rides where toYear(started_at) = {year} AND toMonth(started_at) = {month} GROUP BY day, gender",public_ip)

in 'sql_request' procedure
out 'sql_request' procedure. Return DataFrame, which will be stored as file.csv

In [84]:
df_rides_gender.head()

Empty DataFrame
Columns: []
Index: []

In [ ]:
def main(**kwargs):
    Bucket_in = "netology-input"
    Bucket_out = "netology-output"
    Database = "netology"
    Table = "rides"
    public_ip = 'localhost'
    Key = kwargs['key1']
    df, year, month = read_file(Bucket_in,Key)
    validate_dataframe(df)
    insert_df_to_CH(df, Database, Table, public_ip)

    #make a SQL query and store the for the Total Number of Rides per day 
    df_number_rides = sql_request(f"select toDayOfMonth(started_at) AS day, count(ride_id) FROM netology.rides where toYear(started_at) = {year} AND toMonth(started_at) = {month} GROUP BY day",public_ip)
    df_number_rides = df_number_rides.rename(columns={0: 'Day_of_Month', 1: 'Total_Number_of_Rides'})
    path = (f"{year}_{month}_report_number_of_rides.csv")
    #write DataFrame to the output Bucket as <year>_<month>_report_number_of_rides.csv
    write_file(df_number_rides,Bucket_out,path)
    
    #make a SQL query and store the for the Average Ride Time per day
    df_time_rides = sql_request(f"select toDayOfMonth(started_at) AS day, round(sum(dateDiff('second', started_at, ended_at))/count(ride_id),0) from netology.rides where toYear(started_at) = {year} AND toMonth(started_at) = {month} GROUP BY day",public_ip)
    df_time_rides = df_time_rides.rename(columns={0: 'Day_of_Month', 1: 'Average_Ride_Time'})
    path = (f"{year}_{month}_report_average_ride_time.csv")
    #write DataFrame to the output Bucket as <year>_<month>_report_average_ride_time.csv
    write_file(df_time_rides,Bucket_out,path)

In [ ]:
insert_df_to_CH(df, Database, Table, public_ip)

In [ ]:
df_time_rides = sql_request(f"select toDayOfMonth(started_at) as day, sum(dateDiff('second', started_at, ended_at) as Diff) from netology.rides where toYear(started_at) = {year} AND toMonth(started_at) = {month} GROUP BY day",public_ip)
df_time_rides = df_time_rides.rename(columns={0: 'Day_of_Month', 1: 'Average_Ride_Time'})

In [ ]:
df_time_rides.head()

In [ ]:
Bucket = 'netology-output'
Key = (f"{year}_{month}_report_number_of_rides.csv")
DataFrame = df_time_rides
s3_client = boto3.client('s3')
csv_buf = StringIO()
DataFrame.to_csv(csv_buf, header=True, index=False)
response = s3_client.put_object(Bucket='netology-output', Body=csv_buf.getvalue(), Key=Key)
status = response.get("ResponseMetadata", {}).get("HTTPStatusCode")
if status == 200:
    print(f"Successful write file: {Key} into S3 {Bucket}. Status - {status}")
else:
    print(f"Errorwrite file: {Key} into S3 {Bucket}. Status - {status}")
#status = response.get("ResponseMetadata", {}).get("HTTPStatusCode")
#with io.StringIO() as csv_buffer:

In [ ]:
Bucket = 'netology-output'
Key = 'output.csv'
print(year)
print(month)
#Key = (f"{year}_{month}_report_number_of_rides.csv")
#print(Key)
#DataFrame = df_time_rides
#s3_client = boto3.client('s3')
#csv_buf = StringIO()
#DataFrame.to_csv(csv_buf, header=True, index=False)
#s3_client.put_object(Bucket='netology-output', Body=csv_buf.getvalue(), Key=)
#status = response.get("ResponseMetadata", {}).get("HTTPStatusCode")
#with io.StringIO() as csv_buffer:
#    DataFrame.to_csv(csv_buffer, header=True, index=False)
#    response = s3_client.put_object(Bucket, Key, Body=csv_buffer.getvalue())
#    status = response.get("ResponseMetadata", {}).get("HTTPStatusCode")
"""    
    with io.StringIO() as csv_buffer:
        DataFrame.to_csv(csv_buffer, header=True, index=False)
        response = s3_client.put_object(Bucket, Key, Body=csv_buffer.getvalue())
        status = response.get("ResponseMetadata", {}).get("HTTPStatusCode")
        if status == 200:
            print(f"Successful write file: {Key} into S3 {Bucket}. Status - {status}")
        else:
            print(f"Errorwrite file: {Key} into S3 {Bucket}. Status - {status}")
            
            
            s3 = boto3.client("s3",\
                  region_name=region_name,\
                  aws_access_key_id=aws_access_key_id,\
                  aws_secret_access_key=aws_secret_access_key)
csv_buf = StringIO()
df.to_csv(csv_buf, header=True, index=False)
csv_buf.seek(0)
s3.put_object(Bucket=bucket, Body=csv_buf.getvalue(), Key='path/test.csv')
"""

In [ ]:
df_time_rides = sql_request(f"select toDayOfMonth(started_at) AS day, sum(dateDiff('second', started_at, ended_at) as Diff) from netology.rides where toYear(started_at) = {year} AND toMonth(started_at) = {month} GROUP BY day",public_ip)

In [ ]:
insert_df_to_CH(df, Database, Table, public_ip)

In [ ]:
df_1 = sql_request(f"select toDayOfMonth(started_at) AS day, count(ride_id) FROM netology.rides where toYear(started_at) = {year} AND toMonth(started_at) = {month} GROUP BY day",public_ip)
df_1.head(31)

In [ ]:
client.execute(f"select toDayOfMonth(started_at) AS day, count(ride_id) FROM netology.rides where toYear(started_at) = {year} AND toMonth(started_at) = {month} GROUP BY day")

In [ ]:
a = df['started_at'][1][:10]
print(a)

In [ ]:
date = np.array_str(client.execute("select top 1 started_at from netology.rides")[0])
print(date)

In [ ]:
df.head()

In [ ]:
validate_dataframe(df)

In [ ]:
df.head()

In [ ]:
Database = "netology"
Table = "rides"
client = ClickClient(host=public_ip, settings={'use_numpy': True})

insert_df_to_CH(df, Database, Table, public_ip)

In [ ]:
client = ClickClient(host=public_ip, settings={'use_numpy': True})

In [ ]:
client.insert_dataframe("INSERT INTO " + Database + "." + Table + " VALUES", df)

In [ ]:
resource = boto3.resource('s3')
object = resource.Object('netology-input','JC-202203-citibike-tripdata.csv')

object.get()

In [ ]:
a = resource.Bucket('netology-input') 
for obj in a.objects.all():
    #object URL
    print("https://<your bucket name>.s3.<your bucket region>.amazonaws.com/" + obj.key)
    #if you want to print all the data of object, just print obj

In [ ]:
resource

In [ ]:
s3 = boto3.client('s3')

In [ ]:
response = s3.list_buckets()

In [ ]:
print(response)

In [ ]:
response2 = s3.list_objects(Bucket='netology-input')
print(response2['Contents'])

In [ ]:
response3 = s3.get_object(Bucket='netology-input', Key='JC-202203-citibike-tripdata.csv')
print(response3)

In [ ]:
df = pd.read_csv(io.BytesIO(response3['Body'].read()))

In [ ]:
df.head()

In [ ]:
def read_file(Bucket,Key):
    #s3 = boto3.client('s3')
    response3 = boto3.client('s3').get_object(Bucket=Bucket, Key=Key)
    return pd.read_csv(io.BytesIO(response3['Body'].read()))

In [ ]:
def write_file(DataFrame,Bucket,Key):
    with io.StringIO() as csv_buffer:
        DataFrame.to_csv(csv_buffer, index=False)
        response = s3_client.put_object(Bucket, Key, Body=csv_buffer.getvalue())
        status = response.get("ResponseMetadata", {}).get("HTTPStatusCode")
        if status == 200:
            print(f"Successful write file: {Key} into S3 {Bucket}. Status - {status}")
        else:
            print(f"Errorwrite file: {Key} into S3 {Bucket}. Status - {status}")

In [ ]:
df = read_file('netology-input', 'JC-202203-citibike-tripdata.csv')

In [ ]:
df.head()

It is considered that the date format is permanent in the file. started_at and ended_at have the following format YYYY-MM-DD HH:MM:SS

In [ ]:
df_2 = df[:10].copy(deep=True)
df_2.head(20)

In [ ]:
df_2["date"] = pd.to_datetime(df['started_at']).dt.floor('d')
df_2.head()

# Working with EC2

In [ ]:
ec2 = boto3.resource('ec2',region_name='us-east-2')
instance = ec2.Instance('i-0fddf225d64030af4')

In [ ]:
instance.start()

In [ ]:
print(instance.state)
public_ip = instance.public_ip_address

In [ ]:
instance.stop()
print(instance.state)

# Working with clickhouse

In [ ]:
def insert_df_to_CH(DataFrame, Database, Table, IP):
    client = ClickClient(host=IP, settings={'use_numpy': True})
    try: 
        client.insert_dataframe("INSERT INTO " + Database + "." + Table + " VALUES", DataFrame)
        print("Data insert successful")
    except:
        print("Data insert Error into netology.rides table")
    return

In [ ]:
insert_df_to_CH(df, 'netology', 'rides', public_ip)

In [ ]:
def sql_request(quary):
    output_df = pd.DataFrame.from_records(client.execute(quary))
    return output_df

In [ ]:
quary_list = {"rides":""}"select toDayOfMonth(started_at) AS day, count(ride_id) FROM netology.rides GROUP BY day"]

for quary in quary_list

In [ ]:
trips_duration_df = pd.DataFrame.from_records(client.execute("select toDayOfMonth(started_at) AS day, count(ride_id) FROM netology.rides GROUP BY day"))
trips_duration_df.head(100)

In [ ]:
client.execute("select toDayOfMonth(started_at) AS day, count(ride_id) FROM netology.rides GROUP BY day INTO OUTFILE '/tmp/output2.csv' FORMAT CSV;")

def SQL_requests(table):
    """
    Getting reports from Clickhouse via SQL request. Gathering output data into pandas DF
    :param table: Clickhouse table name
    :return: pandas DF
    """

    # getting number of trips per days
    trips_count_list = client.execute('SELECT COUNT(date), date \
    FROM tripDB.' + table + ' \
    GROUP BY date;')
    trips_count_df = pd.DataFrame.from_records(trips_count_list, columns=['trips', 'date'])
    logging.info('number of trips found')

    # getting duration of the trips per days
    trips_duration_list = client.execute('SELECT ROUND(AVG(tripduration), 3), date \
    FROM tripDB.' + table + ' \
    GROUP BY date;')
    trips_duration_df = pd.DataFrame.from_records(trips_duration_list, columns=['duration', 'data'])
    logging.info('duration found')

    # getting distribution by genders
    gender_0_list = client.execute('SELECT COUNT(gender), date \
    FROM tripDB.' + table + ' \
    WHERE gender=0 \
    GROUP BY date ;')
    gender_1_list = client.execute('SELECT COUNT(gender), date \
    FROM tripDB.' + table + ' \
    WHERE gender=1 \
    GROUP BY date ;')
    gender_2_list = client.execute('SELECT COUNT(gender), date \
    FROM tripDB.' + table + ' \
    WHERE gender=2 \
    GROUP BY date ;')
    gender_0_df = pd.DataFrame.from_records(gender_0_list, columns=['gender_0', 'data'])
    gender_1_df = pd.DataFrame.from_records(gender_1_list, columns=['gender_1', 'data'])
    gender_2_df = pd.DataFrame.from_records(gender_2_list, columns=['gender_2', 'data'])
    logging.info('gender distribution found')

    # performing calculations of %
    report_df = trips_count_df[['date', 'trips']].copy()
    report_df['duration'] = trips_duration_df['duration'].copy()
    report_df['gender_0_%'] = round(gender_0_df['gender_0'] / (gender_0_df['gender_0'] +
                                                               gender_1_df['gender_1'] +
                                                               gender_2_df['gender_2']) * 100, 2)
    report_df['gender_1_%'] = round(gender_1_df['gender_1'] / (gender_0_df['gender_0'] +
                                                               gender_1_df['gender_1'] +
                                                               gender_2_df['gender_2']) * 100, 2)
    report_df['gender_2_%'] = round(gender_2_df['gender_2'] / (gender_0_df['gender_0'] +
                                                               gender_1_df['gender_1'] +
                                                               gender_2_df['gender_2']) * 100, 2)
    logging.info('Data Frame with report is ready')

    return report_df

In [ ]:
Database = "netology"
Table = "rides"
quary = "INSERT INTO " + Database + "." + Table + " VALUES"
print(quary)

In [ ]:
client = ClickClient(host=public_ip, settings={'use_numpy': True})

In [ ]:
client.execute("CREATE DATABASE IF NOT EXISTS netology")

In [ ]:
client.execute('SHOW DATABASES')

In [ ]:
client.execute('USE netology')
client.execute('SHOW TABLES')

In [ ]:
client.execute("DROP TABLE netology.rides")

In [ ]:
client.execute("CREATE TABLE IF NOT EXISTS netology.rides("
"ride_id String, rideable_type String, started_at DateTime, ended_at DateTime,"
"start_station_name String, start_station_id String, end_station_name String,"
"end_station_id String, start_lat Float32, start_lng Float32, end_lat Float32, end_lng Float32, member_casual String) ENGINE = MergeTree() ORDER BY started_at")

In [ ]:
client.insert_dataframe('INSERT INTO netology.rides VALUES', df_2)

In [ ]:
client.execute("SELECT * from netology.rides")

In [ ]:
client.insert_dataframe('INSERT INTO test_table VALUES', df)

In [ ]:
test = df_2.to_dict()

In [ ]:
test